<div class="contents">
  <div class="first-view">
    <div class="fade-img">
      <%= image_tag "251280.jpg", class:"top-image" %>
      <%= image_tag "41280.jpg", class:"top-image" %>
      <%= image_tag "751280.jpg", class:"top-image" %>
    </div>
  </div>
  <div class="upper-content">
    <h2 class="heading-name">新着情報</h2>
    <ul class="messages">
      <li class="message">
        <div class="message-date">2021/2/05</div>
        <b>【新規オープン記念】10％OFFキャンペーン</b>
      </li>
      <li class="message">
        <div class="message-date">2021/2/14</div>
        <b>バレンタインデー、キャンペーン</b>
      </li>
      <li class="message">
        <div class="message-date">2021/2/21</div>
        <b>自家焙煎珈琲豆 キリマンジャロ産、コロンビア産入荷</b>
      </li>
      <li class="message">
        <div class="message-date">2021/2/28</div>
        <b>嬉しい、ポイントアップキャンペーン</b>
      </li>
    </ul>
  </div>
  <div class="middle-content">
    <h2 class="heading-name">ギャラリー</h2>
    <ul class="product-list">
      <li>
        <%= image_tag "98767.jpg", class:"product-image-to-circle" %>
        <h4 class="product-name">直営工場</h4>
      </li>
      <li>
        <%= image_tag "155001.jpg", class:"product-image-to-circle" %>
        <h4 class="product-name">厳選豆</h4>
      </li>
      <li>
        <%= image_tag "1613526.jpg", class:"product-image-to-circle" %>
        <h4 class="product-name">直営農園</h4>
      </li>
    </ul>
  </div>
  <div class="submit-content">
    <form class="contact-form">
      <h2 class="heading-name">メールでお問い合わせ</h2>
      <input type="text" placeholder="name" class="small-field">
      <input type="text" placeholder="e-mail" class="small-field">
      <textarea placeholder="message" class="large-field"></textarea>
      <input type="submit" value="SEND" class="send">
    </form>
  </div>
  <div id="load_animation">
    <div class="loading_gif">
      <%= image_tag "Preloader_1.gif", :size =>"40x40" %>
    </div>
  </div>
</div>
    