<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を修正</h2>
    <%= form_with model: @shopping, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <%= image_tag @shopping.image, class:"item-box-img" %>
    <%# 出品画像 %>
    <div class="img-upload">
      <div class="click-upload">
        <%= f.file_field :image %>
      </div>
    </div>
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        商品名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :product_name %>
    </div>
    <%# /商品名と商品説明 %>


    <%# 販売価格 %>
    <div class="sell-price">
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
          </div>
          <%= f.text_field :price %>
        </div>
      </div>
    </div>
    <%# /販売価格 %>

    
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.botton "変更する" ,class:"sell-btn" %>
      <%= link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

</div>