<!DOCTYPE html>
<html lang="ja">
<head>
  <title>トモリ珈琲</title>
</head>
<body>
 
<header class="header">
</header>
<div class="main-wrap">
  <main class="main">
    <article class="article-card">
      <a href="" class="article-link">
        <div class="article-head">
          <%= image_tag "230311_s.jpg", class: 'article-img' %>
        </div>
        <div class="article-foot">
          <h2 class="article-title">
            パンケーキ
          </h2>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link">
        <div class="article-head">
          <%= image_tag "cappuccino.jpg", class: 'article-img' %>
        </div>
        <div class="article-foot">
          <h2 class="article-title">
            カプチーノ
          </h2>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link">
        <div class="article-head">
          <%= image_tag "shortcake.jpg", class: 'article-img' %>
        </div>
        <div class="article-foot">
          <h2 class="article-title">
            ショートケーキ
          </h2>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link">
        <div class="article-head">
          <%= image_tag "202020_s.jpg", class: 'article-img' %>
        </div>
        <div class="article-foot">
          <h2 class="article-title">
            ブレンド珈琲
          </h2>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link">
        <div class="article-head">
          <%= image_tag "83728_s.jpg", class: 'article-img' %>
        </div>
        <div class="article-foot">
          <h2 class="article-title">
            ギフトセット
          </h2>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link">
        <div class="article-head">
          <%= image_tag "52680_s.jpg", class: 'article-img' %>
        </div>
        <div class="article-foot">
          <h2 class="article-title">
            ギフトカード
          </h2>
        </div>
      </a>
    </article>
    
 
  </main>
 
  <aside class="sidebar-container">
  </aside>
</div>
<footer class="footer">
</footer>
 
</body>
</html>
