<div class="main-wrap">
<%# <div class="contents"> %>
  <main class="main">
    <article class="article-card">
      <a href="" class="article-link"><div>メニュー①</div>
        <div class="article-head">
          <%= image_tag "230311_s.jpg", class: "article-img" %>
        </div>
        <div class="article-foot">
          <div class="article-title">
            パンケーキ　450円
          </div>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link"><div>メニュー②</div>
        <div class="article-head">
          <%= image_tag "cappuccino.jpg", class: "article-img" %>
        </div>
        <div class="article-foot">
          <div class="article-title">
            カプチーノ　420円
          </div>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link"><div>メニュー③</div>
        <div class="article-head">
          <%= image_tag "shortcake.jpg", class: "article-img" %>
        </div>
        <div class="article-foot">
          <div class="article-title">
            ショートケーキ　450円
          </div>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link"><div>メニュー④</div>
        <div class="article-head">
          <%= image_tag "202020_s.jpg", class: "article-img" %>
        </div>
        <div class="article-foot">
          <div class="article-title">
            ブレンド珈琲　420円
          </div>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link"><div>オリジナル商品①</div>
        <div class="article-head">
          <%= image_tag "83728_s.jpg", class: "article-img" %>
        </div>
        <div class="article-foot">
          <div class="article-title">
            ギフトセット　1000円
          </div>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link"><div>オリジナル商品②</div>
        <div class="article-head">
          <%= image_tag "52680_s.jpg", class: "article-img" %>
        </div>
        <div class="article-foot">
          <div class="article-title">
            ギフトカード　500円
          </div>
        </div>
      </a>
    </article>
    <%# 商品一覧 %>
    <article class="article-card">
      <a href="" class="article-link"><div>新規商品</div>  
        <div class='main-second'>                                      
          <% @shoppings.each do |shopping| %>
          <li class='list'> 
          <%= link_to shopping_path(shopping.id) do %>
          <div class='article-head'>                            
            <% image_tag shopping.image, class: "article-img" %>
          
            
            <% if shopping.purchase.present? %>
              <div class='article-title'>
                <span>売り切れ!!</span>
              </div>
            <% end %>
          </div>  
            <div class="article-foot">
              <div class="article-title">
                <%= shopping.product_name %>
              </div>
            </div>
            <div class='shopping-price'>
              <span><%= shopping.price %>円<br><%= shopping.shipping_charge.name %></span>
              <div class='star-btn'>
                <%= image_tag "", class:"article-img" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          <% end %>
        </div> 
        <% end %>

        <% unless @shoppings.present? %>
      <article class='article-card'>
        <%= link_to new_shopping_path do %>
        <%= image_tag "4404299_s.jpg", class: "article-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>900円</span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>



      </a>
    </article>
  </main>

  
  



    <% if user_signed_in? %>
      <%= link_to root_path, class: 'order-btn' do %>
        <span class='order-title'>商品を購入</span>
        <%= image_tag "210746.jpg", class: "order-btn-icon" %>
      <% end %>
    <% else owner_signed_in? %>
      <%= link_to new_shopping_path, class: 'order-btn' do %>
        <span class='order-btn-text'>出品する</span>
        <%= image_tag "watermark.jpg", class: "order-btn-icon" %>
      <% end %>
    <% end %>
    <aside class="sidebar-container">
    </aside>
  
</div>

