<!DOCTYPE html>
<html lang="ja">
<head>
  <title>トモリ珈琲</title>
</head>
<body>
 
<header class="header">
</header>
<div class="main-wrap">
  <main class="main">
    <article class="article-card">
      <a href="" class="article-link"><div>店舗メニュー</div>
        <div class="article-head">
          <%= image_tag "230311_s.jpg", class: 'article-img' %>
        </div>
        <div class="article-foot">
          <div class="article-title">
            パンケーキ
          </div>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link"><div>店舗メニュー</div>
        <div class="article-head">
          <%= image_tag "cappuccino.jpg", class: 'article-img' %>
        </div>
        <div class="article-foot">
          <div class="article-title">
            カプチーノ
          </div>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link"><div>店舗メニュー</div>
        <div class="article-head">
          <%= image_tag "shortcake.jpg", class: 'article-img' %>
        </div>
        <div class="article-foot">
          <div class="article-title">
            ショートケーキ
          </div>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link"><div>店舗メニュー</div>
        <div class="article-head">
          <%= image_tag "202020_s.jpg", class: 'article-img' %>
        </div>
        <div class="article-foot">
          <div class="article-title">
            ブレンド珈琲
          </div>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link"><div>販売商品</div>
        <div class="article-head">
          <%= image_tag "83728_s.jpg", class: 'article-img' %>
        </div>
        <div class="article-foot">
          <div class="article-title">
            ギフトセット
          </div>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link"><div>販売商品</div>
        <div class="article-head">
          <%= image_tag "52680_s.jpg", class: 'article-img' %>
        </div>
        <div class="article-foot">
          <div class="article-title">
            ギフトカード
          </div>
        </div>
      </a>
    </article>
  </main>
  <%= link_to root_path, class: 'order-btn' do %>
    <span class='order-title'>購入する</span>
    <%= image_tag '210746.jpg' ,class: "order-btn-icon" %>
  <% end %>
 
  <aside class="sidebar-container">
  </aside>
</div>
<footer class="footer">
</footer>
 
</body>
</html>
