<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @shopping.product_name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @shopping.image, class:"item-box-img" %>
      <% if @shopping.purchase.present? %> 
        <div class='sold-out'>
          <span>Sold Out!!</span>
        </div>
      <% end %>
      
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @shopping.price %>
      </span>
    </div>

  <% if owner_signed_in? && @shopping.purchase.blank? %>
    <%# if current_user.id == @shopping.user_id %>
    <%= link_to '商品の編集', edit_shopping_path, method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', shopping_path(@shopping.id), method: :delete, class:'item-destroy' %>
  <% end %>
    <%# else %>
  <% if user_signed_in? %>
    <% link_to '購入画面に進む', shopping_purchases_path(@shopping.id), method: :get, class:"item-red-btn"%>
    <%# end %>
  <% end %>

    
    
  </div>

  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href=“#” class=‘another-item’><%= @item.category.name %>をもっと見る</a>
</div>