<!DOCTYPE html>
<html>
  <head>
    <title>TomoriApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="heading">
        <h1 class="title">
          <%= link_to "トモリ珈琲 online shop", root_path %>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <%= link_to "店舗ガイド", root_path, class: :nav__lists %>
          <%= link_to "メニュー", root_path, class: :nav__lists %>
          <%= link_to "アクセス", root_path, class: :nav__lists %>
          <%= link_to "ログアウト", root_path, method: :delete, class: :nav__lists %>
          <%= link_to "ログイン", new_user_registration_path, class: :nav__lists %>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>Copyright(C) トモリ　珈琲 ALL RIGHTS RESERVED.</p>
  </body>
</html>
